{% extends 'layoutcus.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="h1">Home Page</h1>
<h1 class="h3">Welcome back, {{ name }}!</h1>
<p>Choose your next destination!</p>
					
<div class="mapouter"><div class="gmap_canvas"><iframe width="750" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=china&t=k&z=3&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:603px;width:704px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:603px;width:704px;}</style></div></div>
{% endblock %}