{% extends 'layoutcus.html' %}
 
{% block title %}Profile{% endblock %}
 
{% block content %}

<h1 class="h1">Profile</h1>
<h1 class="h3">Account Details</h1>
<div>
    
    <table>
        <tr>
            <td>Email</td>
            <td>{{ account[0] }}</td>
        </tr>

        <tr>
            <td>Name</td>
            <td>{{ account[1] }}</td>
        </tr>

        <tr>
            <td>Password</td>
            <td>{{ account[2] }}</td>
        </tr>

        <tr>
            <td>Building No.</td>
            <td>{{ account[3] }}</td>
        </tr>

        <tr>
            <td>Street</td>
            <td>{{ account[4] }}</td>
        </tr>

        <tr>
            <td>City</td>
            <td>{{ account[5] }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ account[6] }}</td>
        </tr>
        <tr>
            <td>Phone No.</td>
            <td>{{ account[7] }}</td>
        </tr>
        <tr>
            <td>Passport No.</td>
            <td>{{ account[8] }}</td>
        </tr>
        <tr>
            <td>Passport Expiration</td>
            <td>{{ account[9] }}</td>
        </tr>
        <tr>
            <td>Passport Country</td>
            <td>{{ account[10] }}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{ account[11] }}</td>
        </tr>

    </table>
</div>
{% endblock %}