{% extends 'layoutbook.html' %}
 
{% block title %}Profile{% endblock %}
 
{% block content %}

<h1 class="h1">Profile</h1>
<h1 class="h3">Account Details</h1>
<div>
    
    <table>
        <tr>
            <td>Email</td>
            <td>{{ account[0] }}</td>
        </tr>

        <tr>
            <td>Password</td>
            <td>{{ account[1] }}</td>
        </tr>

        <tr>
            <td>Booking Agent ID</td>
            <td>{{ account[2] }}</td>
        </tr>


    </table>
</div>
{% endblock %}