{% extends 'layoutstaff.html' %}
{% block content %}
<h1 class="h1">Change Flight Status</h1>
<h1 class="h3">All Flights</h1>
<div id="msg" style="color:rgb(182, 103, 0)">{{ msg }}</div>
<style>
 
      td {
             width: 200px;
             text-align: center;
             border: 1px solid rgb(180, 180, 180);
             padding: 4px;
           }
     </style>
    <table>
      <thead>
        <tr>
            <th>Airline</th>
            <th>Flight No.</th>
            <th>Dep. Airport</th>
            <th>Dep. Time</th>
            <th>Arr. Airport</th>
            <th>Arr. Time</th>
            <th>Price</th>
            <th>Status</th>
            <th>Airplane ID</th>
        </tr>
        </thead>    
        <tbody>
         {% for row in data %}    
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table></br>

<form action="{{ url_for('statuschange') }}" method="post" autocomplete="off"> 
    <div class="form-group">
        <label for="flight num" class="cols-sm-2 control-label">Flight No.</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
          <input type="number" class="form-control" name="flight num" id="flight num"  placeholder="Enter Flight No." required/>
         </div>
        </div>
       </div>

       <div class="form-group">
        <label for="status" class="cols-sm-2 control-label">Change Status To</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
          <input type="text" class="form-control" name="status" id="status" placeholder="UPCOMING/IN PROGRESS/DELAYED/COMPLETED" required>
         </div>
        </div>
       </div> 

      
 <div class="form-group "> 
  <input type="submit" value="Change the Status" class="form-control btn btn-primary " name="">
  <p style="padding:5px;">
 </div>
  
</form>



{% endblock %}