{% extends 'layoutstaff.html' %}

{% block title %}Reports{% endblock %}

{% block content %}
<h1 class="h1">View Reports</h1>


<div id="msg"style="color:rgb(182, 103, 0)">{{ msg }}</div>
<h1 class="h4">Please enter a range of dates (maximum 12 months)</h1>
    <div class="header">
        <form class="form-group" action="{{ url_for('viewreports') }}" method="post">
            <label>Date From</label>
            <input type="date" name="start date" id="start date" class="search-field" size="8"required>
            <label>To</label>
            <input type="date" name="end date" id="end date" class="search-field" size="8"required>
            <button type="submit" value="Submit" class="btn btn-success" >View</button>

        </form>
    </div>
   
  
    {% if result %}
    <h1 class="h4">Data range: {{ ran }}</h1>
    <h1 class="h5">Total: {{ tot }}</h1>

    {% endif %}



    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            var dps = [
                        {% for key,value in num.items() %}
                            { label: {{key}}, y: {{value}} },
                        {% endfor %}
            ];

            var chart = new CanvasJS.Chart("chartContainer", {
                title:{
                    text: "Month Wise Tickets Sold"              
                },
                axisY: {
                        title: "#Ticket Sold"

                    },
                axisx: {
                    title: "Month Number"

                },
                data: [              
                {
                    // Change type to "doughnut", "line", "splineArea", etc.
                    type: "column",
                     
                    dataPoints: dps
                }
                ]
            });
            chart.render();
        }
    </script>
    <style type="text/css">
    </style>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

{% endblock %}